body{
    margin: 0%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 2;
}

hr{
    border: 6px dotted grey;
    border-bottom: none;
    width: 5%;
}

div {
    background-color: rgb(221, 228, 209);
}

.top-container{
    background-color: rgb(193, 194, 191);
    padding-top: 100px;
    position: relative;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #249a9a;
}

h2{
    color: #249a9a;
    font-size: 30px;
}

h3{
    color: #11999e;
}

a{
    color: #11999e;
    padding: 10px;
    text-decoration: none;
}

a:hover{
    color: white;
}

.middle-container{
    padding-bottom: 20px;
}

.bottom-container{
    background-color: aqua;
    padding: 30px ;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
    bottom: 200px;
}

.top-cloud{
    position: absolute;
    right: 200px;
    top: 200px;
}

.profile{
    padding: 50px;
    width: 50%;
    margin: auto;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.comp-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chillies-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #07e8e8;
    background-image: -webkit-linear-gradient(top, #07e8e8, #2980b9);
    background-image: -moz-linear-gradient(top, #07e8e8, #2980b9);
    background-image: -ms-linear-gradient(top, #07e8e8, #2980b9);
    background-image: -o-linear-gradient(top, #07e8e8, #2980b9);
    background-image: linear-gradient(to bottom, #07e8e8, #2980b9);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #0c17e6;
    background-image: -webkit-linear-gradient(top, #0c17e6, #3498db);
    background-image: -moz-linear-gradient(top, #0c17e6, #3498db);
    background-image: -ms-linear-gradient(top, #0c17e6, #3498db);
    background-image: -o-linear-gradient(top, #0c17e6, #3498db);
    background-image: linear-gradient(to bottom, #0c17e6, #3498db);
    text-decoration: none;
  }